<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../stylesheets/createstyle.css">
</head>
<body>
    <div id="main">
        <form action="/updated/<%= updated._id %>" id="cartform" method="post">
        <div id="dibba">
           <div id="name"><h3>Product Name</h3>   <input type="text" name="productname" placeholder="Productname"  > </div>
           <div id="name1"> <h3>Product Theme</h3>  <input type="text" name="producttheme" placeholder="producttheme"> </div>
           <div id="name2">  <h3>Product Image</h3>  <input type="text" name="productimage" placeholder="Productimage"></div>
        </div>
        <input type="submit" id="submit" value="submit">
        </form>
    </div>
</body>
</html>